* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 768px) {

	#wrapper {
		width: 85%;
		height: 100%;
		margin: auto;
		position: relative;
	}
	#wrapper > div {
		text-align: center;
		float: left;
		color: #fff;
	}

	.row{
		position: relative;
		height: 200px;
		width: 100%;
		padding: 0;
	}
	.row > * {
		position: relative;
		height: 100%;
		padding: 12px;
	}


	.small {
		
		width: 20%;
	}

	.medium {
		width: 33%;
	}

	.large {
		width: 40%;
	}

	#one {
		position: relative;
		left: 0;
		top: 0;
	}
	#one_content {
		background: #8bbaea;
	}

	#two {
		position: absolute;
		left: 22.4%;
		top: 0;
	}
	#two_content {
		background: #133659;
	}

	#three {
    position: absolute;
		
	
    top: 0;
    right: 0%;
}
	#three_content {
		background: #578fc7;
	}


	
	
	

	#four {

	}

	#five {

	}

	#six {

	}

	#seven {

	}

	#eight {

	}

	#nine {

	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}